<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workoutbasic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutBasic">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <activity
            android:label="@string/edit_workout_activity"
            android:name="Activities.EditWorkoutActivity"
            android:exported="true"
            android:parentActivityName="Activities.MainActivity"/>

        <activity
            android:label="@string/edit_exercise_activity"
            android:name="Activities.EditExerciseActivity"
            android:exported="true"
            android:parentActivityName="Activities.EditWorkoutActivity"/>

        <activity
            android:label="@string/copy_exercise_activity"
            android:name="Activities.CopyExerciseActivity"
            android:exported="true"
            android:parentActivityName="Activities.EditExerciseActivity"/>

        <activity
            android:name="Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>